<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/user/index::head"></head>
<body>
<div th:replace="/layout/user/index::headerVT"></div>
<!-- Hero Section-->
<div th:replace="/layout/user/index::banner"></div>


<section class="featured-posts no-padding-top">
    <div class="container">
        <!-- Post-->
        <th:block th:each="blog : ${blogList}">
        <div class="row d-flex align-items-stretch">
            <div class="text col-lg-7">
                <div class="text-inner d-flex align-items-center">
                    <div class="content">
                        <header class="post-header">
                            <div class="category">
                                <a th:href="@{/blogUser/__${blog.categoryId}__}"><span th:text="${blog.categoryName}"></span></a>
                            </div>
                            <a th:href="@{/post/__${blog.id}__}">
                                <h2 class="h4" th:text="${blog.blogName}"></h2>
                            </a>
                        </header>
                        <p th:utext="${blog.description}"></p>
                        <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                            <div class="avatar"><img src="/user/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                            <div class="title"><span>John Doe</span></div></a>
                            <div class="date"><i class="icon-clock"></i><span th:text="${blog.date}"></span></div>
                            <div class="comments"><i class="icon-eye"></i><span th:text="${blog.view}"></span></div>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="image col-lg-5"><img th:src="'/images/' + ${blog.image}" alt="..."></div>
        </div>
        </th:block>
    </div>
</section>
<!-- Divider Section-->
<section style="background: url(/user/img/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
            </div>
        </div>
    </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
    <div class="container">
        <header>
            <h2>Latest from the blog</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">
            <th:block th:each="blog : ${latestBlogList}">
                <div class="post col-md-4">
                <div class="post-thumbnail">
                    <a th:href="@{/post/__${blog.id}__}">
                        <img th:src="'/images/' + ${blog.image}" alt="..." class="img-fluid">
                    </a>
                </div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date"><span th:text="${blog.date}"></span></div>
                        <div class="category">
                            <a th:href="@{/blogUser/__${blog.category.id}__}">
                                <span th:text="${blog.category.name}"></span>
                            </a>
                        </div>
                    </div><a th:href="@{/post/__${blog.id}__}">
                    <h3 class="h4" th:text="${blog.blogName}"></h3></a>
                    <p class="text-muted" th:utext="${blog.description}"></p>
                </div>
            </div>
            </th:block>
        </div>
    </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Subscribe to Newsletter</h2>
                <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                    <form action="#">
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Type your email address">
                            <button type="submit" class="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
    <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/user/img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="/user/img/gallery-1.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/user/img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="/user/img/gallery-2.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/user/img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="/user/img/gallery-3.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item"><a href="/user/img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="/user/img/gallery-4.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
    </div>
</section>
<!-- Page Footer-->
<footer th:replace="/layout/user/index::PageFooter"></footer>
<div th:replace="/layout/user/index::js_source"></div>
</body>
</html>